[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
img2pdf = "*"
numpy = "==1.*"
tqdm = "*"
pypdf = "*"
galois = "*"
scipy = "*"
shapely = "*"
matplotlib = "*"
openpyxl = "*"
chardet = "*"

[dev-packages]
cx-freeze = "*"

[requires]
python_version = "3.11"
