[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
img2pdf = "*"
numpy = "*"
tqdm = "*"
pypdf = "*"
galois = "*"
scipy = "*"
shapely = "*"
matplotlib = "*"

[dev-packages]
pyinstaller = {file = ".venv/Lib/site-packages/pyinstaller"}
pyinstaller-versionfile = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.2"
